@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

.font-playfair {
  font-family: "Playfair Display", serif;
}


@font-face {
  font-family: 'Axiforma Medium';
  src: url('/src/assets/font/Axiforma-Medium.woff2') format('woff2'),
       url('/src/assets/font/Axiforma-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body{
  font-family: Axiforma Medium;
}

h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 2rem;
  line-height: 70px;
  color: var(--foreground);
  font-weight: 600;
  margin-bottom: 0.75em;
}
.contact-wrapper {
  display: flex;
  width: 100%;
  background: #f9fafa;
  box-shadow: 0 0 50px rgb(162 182 212);
  border-radius: 10px;
  overflow: hidden;
  padding: 12px;
}

.contact-info {
  flex: 1;
  background:#044236;

  border-radius: 15px;
  border-right: 1px solid #e0e0e0;
}

.contact-info h3 {
  text-align: start;
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 5px 0 0 0;
}

.contact-info ul {
  padding: 0 0 50px 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid rgba(199, 222, 243, 0.2);
}

.contact-info li {
  margin: 40px 0 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-info .check-icon-p {
  margin: 50px 0 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  display: inline-flex;
  justify-content: flex-start;
  align-items: start;
}

.contact-form {
  flex: 2;
  padding: 0 30px;
}

.contact-form span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin: 20px 0 20px 0;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input,
.form-row textarea {
  background-color: #ffffff;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: rgb(25 39 52 / 50%);
  padding: 17px 20px;
}

textarea {
  resize: none;
}
